# Virtual environment of every subdirectory
**/venv

# IDE
.idea
.vscode

# Compiled files in every subdirectory (commin ones for python and JS)
**/*.pyc
**/*.pyo
**/*.pyd
**/__pycache__
**/.pytest_cache
**/node_modules
**/dist
**/build
**/*.sqlite3
**/tmp

# Compiled files in the root directory
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache
*.sqlite3
node_modules
dist
build
tmp

# Logs 
*.log
**/*.log

# Txt files in every subdirectory
**/*.txt